@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Historico.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" /> 
    <style>
        .download-button {
            display: inline-block;
            margin: 10px;
            padding: 25px 20px; /* Ajusta el espaciado interno */
            font-size: 1.5em;
            font-weight: bold;
            border: 2px solid black;
            border-radius: 10px;
            color: black;
            background-color: #60C148;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            width: 260px;
            position: relative; /* Añadir posición relativa para alinear el GIF */
        }

            .download-button img.loading {
                position: absolute;
                top: 50%;
                right: 10px; /* Ajustar posición a la derecha */
                transform: translateY(-50%);
                width: 20px; /* Ajustar el tamaño del GIF según sea necesario */
                height: 20px;
            }

            .download-button:hover {
                background-color: #85d2b9;
                color: black;
            }

            .download-button .button-text {
                margin-left: 5px; /* Ajustar espaciado entre iconos y texto */
            }
    </style>

</head>
<body>
    <input id="__URL_OBTENER" type="hidden" value="@Url.Content("~/api/ingenieroProceso/historico/GenerarExcel")" />
    @section Scripts {
        <script src="~/js/admin/ingenieroproceso/historico/index.js"></script>
    }
    <div>
        <a id="btn-3_GNA" class="download-button">
            <i class="fas fa-file-excel"></i>
            <i class="fas fa-download"></i>
            <span class="button-text">3_GNA</span>
            <img src="~/images/loading.gif" class="loading" style="display: none;" />
        </a>
        <a id="btn-1b_Tks" class="download-button">
            <i class="fas fa-file-excel"></i>
            <i class="fas fa-download"></i>
            <span class="button-text">1b_Tks</span>
            <img src="~/images/loading.gif" class="loading" style="display: none;" />
        </a>
        <a id="btn-3_Gas" class="download-button">
            <i class="fas fa-file-excel"></i>
            <i class="fas fa-download"></i>
            <span class="button-text">3_Gas</span>
            <img src="~/images/loading.gif" class="loading" style="display: none;" />
        </a>
        <a id="btn-Existencias" class="download-button">
            <i class="fas fa-file-excel"></i>
            <i class="fas fa-download"></i>
            <span class="button-text">Existencias</span>
            <img src="~/images/loading.gif" class="loading" style="display: none;" />
        </a>
        <a id="btn-2_Líquidos" class="download-button">
            <i class="fas fa-file-excel"></i>
            <i class="fas fa-download"></i>
            <span class="button-text">2_Líquidos</span>
            <img src="~/images/loading.gif" class="loading" style="display: none;" />
        </a>
    </div>


</body>
</html>
