@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Historico.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
@*     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
 *@    <style>
        .download-button {
            display: inline-block;
            margin: 10px;
            padding: 25px 50px; 
            font-size: 1.5em;
            font-weight: bold;
            border: 2px solid black;
            border-radius: 10px;
            color: black;
            background-color: #60C148;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            width: 260px; 
        }

            .download-button i {
                margin-right: 10px;
                color: black; 
            }

            .download-button:hover {
                background-color: #85d2b9;
                color: black; 
            }
    </style>
</head>
<body>
    <input id="__URL_OBTENER" type="hidden" value="@Url.Content("~/api/ingenieroProceso/historico/GenerarExcel")" />
    @section Scripts {
        <script src="~/js/admin/ingenieroproceso/historico/index.js"></script>
    }
    <div>
        <a id="btn-3_GNA" class="download-button"><i class="fas fa-file-excel"></i><i class="fas fa-download"></i>3_GNA</a>
        <a id="btn-1b_Tks" class="download-button"><i class="fas fa-file-excel"></i><i class="fas fa-download"></i>1b_Tks</a>
        <a id="btn-3_Gas" class="download-button"><i class="fas fa-file-excel"></i><i class="fas fa-download"></i>3_Gas</a>
        <a id="btn-Existencias" class="download-button"><i class="fas fa-file-excel"></i><i class="fas fa-download"></i>Existencias</a>
        <a id="btn-2_Líquidos" class="download-button"><i class="fas fa-file-excel"></i><i class="fas fa-download"></i>2_Líquidos</a>
    </div>
</body>

</html>
