@page
@model Unna.OperationalReport.WebSite.Pages.Admin.Laboratorio.CGN.IndexModel
@{
    var currentYear = DateTime.Now.Year;
    var currentMonth = DateTime.Now.Month;
    var daysInMonth = DateTime.DaysInMonth(currentYear, currentMonth);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGN Table</title>
    @section Styles {
        <link href="~/css/reportes.css" rel="stylesheet" />
    }

    @section Scripts {
        <script src="~/js/admin/ingenieroproceso/reporte/Quincenal/ResumenBalanceEnergiaLIV/index.js"></script>
    }
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">ANÁLISIS DE CGN PARA DESPACHO</h2>
        <table class="table table-borderless">
            <tr>
                <td style="text-align: left;">
                    <strong>Tipo:</strong> CGN
                </td>
                <td style="text-align: left;">
                    <strong>TK:</strong> 4601
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                    <strong>Mes:</strong> Junio
                </td>
                <td style="text-align: left;">
                    <strong>Año:</strong> 2024
                </td>
            </tr>
        </table>

        <table class="table table-bordered tbl-resumen-ventas small">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>P. inic.</th>
                    <th>5</th>
                    <th>10</th>
                    <th>30</th>
                    <th>50</th>
                    <th>70</th>
                    <th>90</th>
                    <th>95</th>
                    <th>P. fin.</th>
                    <th>API</th>
                    <th>G.Esp.</th>
                    <th>RVP</th>
                    <th>N° Despachos</th>
                </tr>
            </thead>
            <tbody>
                @for (int day = 1; day <= daysInMonth; day++)
                {
                    <tr>
                        <td>@day</td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                        <td><input type="number" class="form-control form-report only-number text-right small" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
