@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.BalanceDiario.IndexModel
@{
}
  @section Titulo{
<div class="d-flex align-items-center flex-wrap mr-1 w-100">
    <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center font-weight-bold my-2 justify-content-between nombre-cabecera text-header-page">
            <h1>VALIDAR DATOS</h1>
        </div>
    </div>
</div>
}

