@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.BalanceDiario.IndexModel
@{
}
  @section Titulo{
<div class="d-flex align-items-center flex-wrap mr-1 w-100">
    <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center font-weight-bold my-2 justify-content-between nombre-cabecera text-header-page">
            <h1>BALANCE DIRARIO</h1>
        </div>
    </div>
</div>
}




<div class="row">
    @foreach (var item in Model.Lotes)
    {
        <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/ValidarDatos/{item.Id}")" >
        <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">          
            <div class="card-body">                
                <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos @item.Nombre</span>                
            </div>
        </div>
        </a>
    </div>
    }
    

    <div class="col-xl-3">
        <a href="@Url.Content($"/Admin/IngenieroProceso/BalanceDiario/SupervisorPgt/Index")">
        <div class="card card-custom bgi-no-repeat card-stretch gutter-b background-unna">          
            <div class="card-body">                
                <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 d-block text-center">Validar Datos Supervisor PGT</span>                
            </div>
        </div>
        </a>
    </div>
  
</div>