@page "{Id?}"
@model Unna.OperationalReport.WebSite.Pages.Admin.Cartas.IndexModel
@{
}
@section Styles {
    <link href="~/css/reportes.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/js/admin/cartas/dgh/index.js?v=14"></script>
}

<input type="hidden" id="__URL_OBTENER_REPORTE" value="@Url.Content($"~/api/admin/cartas/Solicitud/Obtener/{Model.IdCarta}")" />
<input type="hidden" id="__URL_GUARDAR_REPORTE" value="@Url.Content("~/api/admin/cartas/Solicitud/Guardar")" />


<div class="alert alert-danger" role="alert" id="contenidoErrorMensaje" style="display:none">
    No existe esta carta configurada
</div>


<div class="container" style="display:none;" id="contenidoCarta">
    <div class="row">
        <div class="col-12">
            <img src="@Url.Content("~/images/logo.png")" alt="Unna Energía Logo" style="width: 11rem;">
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-8">


                    <div class="form-group row mt-5">
                        <label class="col-md-3 col-form-label">Sumilla</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" id="tbSumilla" >
                                <input type="text" class="form-control form-control-sm" id="tbNumero">
                                <input type="text" class="form-control form-control-sm" id="tbAnio">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Fecha</label>
                        <div class="col-md-9">
                            <input class="form-control form-control-sm" type="text" value="" id="tbFecha">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Destinatario</label>
                        <div class="col-md-9">
                            <textarea class="form-control form-control-sm" style="height:10rem;" id="tbDestinatario"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Asunto</label>
                        <div class="col-md-9">
                            <input class="form-control form-control-sm" type="text" value="" id="tbAsunto">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Periodo</label>
                        <div class="col-md-9">
                            <input class="form-control form-control-sm" type="text" value="" id="tbPeriodo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Contenido</label>
                        <div class="col-md-9">
                            <textarea class="form-control form-control-sm" style="height:16rem;" id="tbCuerpo"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Pie</label>
                        <div class="col-md-9">
                            <textarea class="form-control form-control-sm" style="height:8rem;" id="tbPie"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Firma</label>
                        <div class="col-md-9" id="firmaCarta">
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <div class="col-md-12 mt-10 mb-10">
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mr-2" id="btnGuardar"><i class="far fa-save"></i> Guardar</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-print"></i> Descargar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" id="btnDescargarPdf" href="@Url.Content($"~/api/admin/cartas/Solicitud/GenerarPdf/{Model.IdCarta}")">PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


