@page
@model Unna.OperationalReport.WebSite.Pages.Admin.FiscalizadorRegular.SeguimientoModel
@{
    string regitroDatos = Model.DiaOperativo == null ? "rojo" : "";
    string vatoValido = "rojo";
    if (Model.DiaOperativo != null)
    {
        regitroDatos = "verde";
        if (Model.DiaOperativo.EsObservado.HasValue)
        {
            regitroDatos = Model.DiaOperativo.EsObservado.Value ? "rojo" : "verde";    
        }
        if (Model.DiaOperativo.DatoValidado.HasValue)
        {
            vatoValido = Model.DiaOperativo.DatoValidado.Value ? "verde" : "rojo";    
        }
        
    }

}

@section Titulo{
@(await Component.InvokeAsync("NombreHeadFiscalizador", new { descripcion = "SEGUIMIENTO"}))

}

@section Scripts{
<script src="~/js/Admin/FiscalizadorRegular/seguimiento.js"></script>
}


<div class="card card-custom">

    <div class="card-body">
        <div class="row">

            <div class="col-md-12 mt-5">
                <div class="table-responsive">
                    <table class="table table-separate table-head-custom table-checkable m-auto" id="dataTableProductos" style="width:100%;max-width:600px;">
                       
                        <tbody>
                           
                                <tr>
                                    <td  rowspan="2" class="text-center p-0">
                                        <div class="semaforo">
                                            <div class="circulo @regitroDatos"></div>
                                            <div class="circulo @vatoValido"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <h4 class="nombre-semaforo">REGISTRO DE DATOS CULMINADO</h4>
                                    </td>
                                </tr>
                             <tr>
                                    <td class="text-center" style="    padding-left: 0.8rem !important;">
                                        <h4 class="nombre-semaforo">DATOS VALIDADOS</h4>
                                    </td>
                                </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>