@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IndexModel
@{
}



  @section Titulo{
<div class="d-flex align-items-center flex-wrap mr-1 w-100">
    <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center font-weight-bold my-2 justify-content-between">            
            <h1>BIENVENIDO AL SISTEMA</h1>            
            @*<h4>Día operativo: @Model.Fecha</h4>*@
        </div>
    </div>
</div>
}

