@page
@model Unna.OperationalReport.WebSite.Pages.Admin.IngenieroProceso.Reporte.Diario.ReporteExistencias.IndexModel
@{
}

@* @(await Component.InvokeAsync("CabeceraReporteDiarias")) *@








<div>
    cuerpo
</div>

@* @(await Component.InvokeAsync("PiePAginaReporteDiaria")) *@