@model Unna.OperationalReport.Service.Reportes.ReporteDiario.BoletaVentaGns.Dtos.BoletaVentaGnsDto
@{
    Layout = null;
}
<head>
    <base href="">
    <meta charset="utf-8" />
    @*@(await Component.InvokeAsync("AplicacionIcon"))*@

    <meta name="description" content="Updates and statistics" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/temas/metronic/tema2/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/temas/metronic/tema2/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    @*@(await Component.InvokeAsync("AplicacionEstiloAdmin"))*@

    @*<link href="~/css/admin/estilos.css?v=1.6" rel="stylesheet" />*@
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    @*<link rel="shortcut icon" href="@Url.Content("~/images/Landing/ibroker_icon.png")" />*@

    <link href="~/css/site.css?sd=1.9" rel="stylesheet" type="text/css" />



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>

</head>
<style>

    .header-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

        .header-part h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .header-part h2 {
            font-size: 20px;
            margin: 0;
        }

    .logo {
        height: 50px;
    }

    .header-info {
        text-align: right;
    }

        .header-info p {
            margin: 0;
        }

    .border-thick {
        border: 2px solid #dee2e6 !important;
    }

    .thick-border, .thick-border th, .thick-border td {
        border: 2px solid #dee2e6 !important;
    }

    .signature-container {
        display: flex;
        justify-content: center;
    }

    .signature-block {
        border: 2px solid #000;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        display: inline-block;
    }

    .signature-content {
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .signature-image {
        max-height: 50px;
        margin-bottom: 5px;
    }

    .name, .title, .company {
        margin: 0;
        font-size: 0.8rem;
    }

    .representative {
        font-size: 0.9rem;
        margin-top: 5px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12">

           
            <table class="table tbl-resumen-ventas w-100">
                <tbody>
                    <tr>
                        <td rowspan="2"><img src="~/images/logo.png" alt="Unna Energía Logo" style="width: 11rem;"></td>
                        <td rowspan="2">
                            <h2>BOLETA DE VENTA DEL GAS NATURAL SECO DE UNNA LOTE IV A ENEL </h2>
                        </td>
                        <td>UNNA ENERGÍA - ENEL</td>
                    </tr>
                    <tr>
                        <td>Versión 01</td>
                    </tr>
                </tbody>
            </table>




            <!-- Cuadro N° 1 -->
            <div class="container mt-3">

                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-12 w-100 mt-5 mb-1" style="width:300px;">
                            <table class="table table-bordered tbl-resumen-ventas" style="width:300px;float: right;">
                                <tbody>
                                    <tr>
                                        <td><b>FECHA</b></td>
                                        <td><b>@Model?.Fecha</b> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12 ">
                            <h3 class="mb-5 mt-1 w-100" style="width:100%;">Cuadro N°1. Resumen de Ventas</h3>
                        </div>
                        
                    </div>
                    <table class="table table-bordered tbl-resumen-ventas">
                        <thead>
                            <tr>
                                <th>
                                    Volumen Total de GNS
                                    vendido a ENEL
                                </th>
                                <th>
                                    PODER
                                    CALORIFICO de GNS
                                </th>
                                <th>ENERGÍA</th>
                            </tr>
                            <tr>
                                <th>MPCS</th>
                                <th>BTU/PCS</th>
                                <th>MMBTU</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-report text-center" value="@Model?.Mpcs"></td>
                                <td><input type="text" class="form-control form-report text-center" value="@Model?.BtuPcs"></td>
                                <td><input type="text" class="form-control form-report text-center" value="@Model?.Mmbtu"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Cuadro Firma -->
            <div class="w-100 mt-20">
                <img src="~/images/firmas/FIRMA RSC.jpeg" style="max-width:220px;" />
            </div>

            <div class="row mt-10">
                <div class="col-6">
                    <h3>UNNA ENERGÍA S.A.</h3>
                </div>
                <div class="col-6">
                    <h3>ENEL</h3>
                </div>
            </div>




        </div>
    </div>
</div>
