.header-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .header-part h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    .header-part h2 {
        font-size: 20px;
        margin: 0;
    }

.logo {
    height: 50px;
}

.header-info {
    text-align: right;
}

    .header-info p {
        margin: 0;
    }

.border-thick {
    border: 2px solid #dee2e6 !important;
}

.thick-border, .thick-border th, .thick-border td {
    border: 2px solid #dee2e6 !important;
}

.signature-container {
    display: flex;
    justify-content: center;
}

.signature-block {
    border: 2px solid #000;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
}

.signature-content {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

.signature-image {
    max-height: 50px;
    margin-bottom: 5px;
}

.name, .title, .company {
    margin: 0;
    font-size: 0.8rem;
}

.representative {
    font-size: 0.9rem;
    margin-top: 5px;
}
.table td, .table th {
    padding: 0.1rem;
    text-align:center;
}
.table .thead th {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem 1i;
}

.input-group .input-group-text {
    padding: 0.2rem 0.3rem;
    background-color: #fff;
}

.table thead th {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}