@font-face {
    font-family: 'Liberation-Bold';
    src: url('./font/liberation_sans/LiberationSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberation-BoldItalic';
    src: url('./font/liberation_sans/LiberationSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberation-Regular';
    src: url('./font/liberation_sans/LiberationSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberation-Italic';
    src: url('./font/liberation_sans/LiberationSans-Italic.ttf') format('truetype');
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100% !important;
        padding: 0 10px;
    }
}

input[type="checkbox" i]:disabled {
    background-color: rgb(84, 84, 84) !important;
}

body {
    background: #fff;
    font-family: 'Liberation-Regular' !important;
}

.form-control {
    font-weight: 500;
}

.header-logo h1 {
    font-weight: 700;
}

#kt_header {
    background: #B8F5ED !important;
    height: 100px !important;
}

.menu-unna {
    width: 260px;
    margin-right: 4px;
}

    .menu-unna a div {
        background: #CFE4FF;
        margin-top: 2px;
        border-radius: 0px !important;
        color: #000;
        font-weight: 700;
        font-size: 16px;
    }

.text-nombre {
    font-size: 1rem;
    padding: 10px 4px;
}

.btn.btn-guardar {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    font-weight: 700;
}

.btn.btn-guardar {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn.btn-observar {
    color: #fff;
    background-color: #E81313;
    border-color: #000000;
}

.btn.btn-unna {
    color: #000;
    background-color: #B8F5ED;
    border-color: #000;
}

.btn.btn-radius {
    border-radius: 2.6rem;
    width: 120px;
}

.btn.btn-cancelar {
    color: #fff;
    background-color: #E81313;
    border-color: #000;
}


.btn.btn-light-adjuntar-documentos {
    color: #000;
    background-color: #CBD1D8;
    border-color: #000;
    border-radius: 20px;
}

.adjuntos {
    border-radius: 10px;
    border: 1px solid #000;
    padding: 1rem;
}

    .adjuntos p {
        width: 100%;
        padding: 4px;
        border: solid 1px #CED4DB;
        border-radius: 8px;
        margin-bottom: 4px;
    }

    .adjuntos .cerrar {
        border-radius: 50%;
        color: #fff;
        background: #DB2E05;
        padding: 0px 7px;
        font-weight: 700;
        font-size: 12px;
        height: 20px;
    }

.modal-unna .modal-footer {
    justify-content: center;
    border-top: 0px solid #ebedf3;
}

.modal-unna .modal-header {
    border-top: 0px solid #ebedf3;
    border-bottom: 0px solid #ebedf3;
}

.modal-unna .modal-body {
    padding: 0 1.75rem;
}

.semaforo {
    background: #4C535D;
    width: 60px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

    .semaforo .circulo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 5px;
    }

        .semaforo .circulo.rojo {
            background: #E81313;
            border: 2px solid #E81313;
        }

        .semaforo .circulo.white {
            background: #fff;
            border: 2px solid #E81313;
        }

        .semaforo .circulo.verde {
            background: #54C45E;
            border: 2px solid #54C45E;
        }

.nombre-semaforo {
    margin-bottom: 0px;
    border: 2px solid #CED4DB;
    border-radius: 5px;
    padding: 6px 2px;
    font-weight: 700;
    font-size: 16px;
}

.cargar-adjunto {
    margin-top: 6px;
}

    .cargar-adjunto .nombre-archivo {
        border: 1px solid #CED4DB;
        padding: 2px 6px;
        border-radius: 3px;
        width: 100%;
        font-size: 14px;
        color: #6F7681;
    }

        .cargar-adjunto .nombre-archivo .cerrar {
            border-radius: 50%;
            color: #fff;
            background: #DB2E05;
            font-weight: 700;
            font-size: 12px;
            height: 20px;
            width: 20px;
            padding: 2px 7px;
        }

    .cargar-adjunto .campo-estado {
        width: 24px;
        height: 24px;
        margin: 2px;
        border-radius: 50%;
        margin: auto;
    }

        .cargar-adjunto .campo-estado.rojo {
            background: #E81313;
        }

        .cargar-adjunto .campo-estado.verde {
            background: #54C45E;
        }

    .cargar-adjunto tr td {
        border-top: 0;
        border-bottom: 0px solid #ebedf3 !important;
        padding: 0px;
    }


.card.card-custom.card-stretch {
    border: 2px solid #000;
}

.background-unna {
    background: #B8F5ED;
}

.modal-confirmar {
}

    .modal-confirmar .modal-header {
        border-bottom: 0px solid #fff;
    }

    .modal-confirmar .contenido-alert {
        text-align: center;
    }

        .modal-confirmar .contenido-alert img {
            width: 140px;
            margin: auto;
            margin-bottom: 1rem;
        }

    .modal-confirmar .modal-body {
        padding: 0 1.75rem;
    }

    .modal-confirmar .modal-sm {
        max-width: 420px;
    }

    .modal-confirmar .modal-footer {
        border-top: 0px solid #ebedf3;
        justify-content: center;
    }

.form-number {
    font-weight: 600;
    text-align: right;
}

.text-header-page {
}

    .text-header-page h1 {
        font-size: 1.8rem;
    }

.tabla-supervisor-pgt {
}

    .tabla-supervisor-pgt thead tr th {
        background: #B8F5ED;
        border: 2px solid #000;
    }

    .tabla-supervisor-pgt th:first-child {
        padding-left: 0 !important;
        background: #fff;
    }

.table.tabla-supervisor-pgt:not(.table-bordered) thead th {
    border-top: none;
}


/* REPORTES */
.tbl-resumen-ventas thead tr th {
    background: #DAEEF3;
}


.tbl-resumen-ventas thead tr th, .tbl-resumen-ventas tbody tr td {
    padding: 0.2rem;
    border: 1px solid #000 !important;
    text-align: center;
}

.tbl-resumen-ventas thead tr th, .text-table {
    margin-top: .4rem;
    margin-bottom: 0px;
    margin-right: .1rem;
    margin-left: .1rem;
}


.tbl-resumen-ventas.small thead tr th {
    font-size: 10px;
}


.form-report {
    font-weight: 600;
    color: #000;
    padding: 0.1rem 1rem;
    height: calc(1em + 1rem + 2px);
}
.form-report.small {
    padding: 0.1rem .4rem;
    height: calc(1em + .6rem + 2px);
    font-size: 12px;
}


fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 1px;
    border-style: double;
    border-color: threedface;
    border-image: initial;
}
legend {
    display: block;
    width: auto;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-size: 18px;
    font-weight: 500;
}