



<div class="table-responsive">
    <table class="table table-bordered thick-border" id="tblAnexo7ValorizacionMensualLoteVi">
        <thead>
            <tr>
                <th rowspan="4" style="background-color:#DAEEF3"><font size=1 color="Black">Dia</font></th>
                <th colspan="6" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Black">GAS NATURAL ASOCIADO - PETROPERU</font></th>
                <th colspan="1" rowspan="3" class="text-center" style="background-color:#DAEEF3"><font size=1 color="Black">Eficiencia PGT</font></th>
                <th colspan="3" class="text-center" style="background-color:#DAEEF3"><font size=2 color="Red">GAS SECO RESTITUIDO</font></th>

            </tr>
            <tr>
                <th colspan="6" class="text-center" style="background-color:#DAEEF3"><font size=1 color="Black">LOTE I</font></th>

                <th colspan="3" class="text-center" style="background-color:#DAEEF3"><font size=1 color="Red">MS-9215: REFINERIA</font></th>
            </tr>
            <tr>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">GNA</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">PODER CALORIFICO</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">ENERGIA</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">RIQUEZA</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">RIQUEZA</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">LGN Recuperados</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Red">GNS LOTE I</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Red">PODER CALORIFICO</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Red">ENERGÍA</font></th>
                <th colspan="1" style="background-color:salmon; text-align:center"><font size=1 color="Black">PRECIO GLP-E SIN IGV</font></th>
                <th colspan="1" style="background-color:salmon; text-align:center"><font size=1 color="Black">PRECIO GLP-G SIN IGV</font></th>
                <th colspan="1" style="background-color:salmon; text-align:center"><font size=1 color="Black">PRECIO REF. GLP SIN IGV</font></th>
                <th colspan="1" style="background-color:salmon; text-align:center"><font size=1 color="Black">PRECIO GLP SIN IGV</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">TIPO DE CAMBIO</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">PRECIO CGN (1.25x Precio GLP)</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">VALOR LIQUIDOS</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">COSTO UNITARIO DE MAQUILA</font></th>
                <th colspan="1" style="background-color:#DAEEF3; text-align:center"><font size=1 color="Black">COSTO DE MAQUILA</font></th>

            </tr>
            <tr>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">MPCSD</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">BTU/PCSD</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">MMBTU</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">Gal/MPC</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">BL/MMPC</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">BBL</font></span></th>


                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">%</font></span></th>

                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Red">MCSD</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Red">BTU/PCSD</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Red">MMBTU</font></span></th>

                <th colspan="1" class="text-center" style="background-color:salmon"><span class="text-muted"><font size=1 color="Black">SOLES/KG</font></span></th>
                <th colspan="1" class="text-center" style="background-color:salmon"><span class="text-muted"><font size=1 color="Black">SOLES/KG</font></span></th>
                <th colspan="1" class="text-center" style="background-color:salmon"><span class="text-muted"><font size=1 color="Black">SOLES/KG</font></span></th>
                <th colspan="1" class="text-center" style="background-color:salmon"><span class="text-muted"><font size=1 color="Black">US$/BL</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">S./US$</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">US$/BL</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">US$</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">US$/MMBTU</font></span></th>
                <th colspan="1" class="text-center" style="background-color:#DAEEF3"><span class="text-muted"><font size=1 color="Black">US$</font></span></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td><p class="text-center mb-0 font-weight-bolder mt-1">Total</p></td>
                <td><p class="gnaLoteVi text-right mb-0 font-weight-bolder mt-1"></p></td>
                <td>-</td>
                <td><p class="energiaLoteVi text-right mb-0 font-weight-bolder mt-1"></p></td>
                <td>-</td>
                <td>-</td>
                <td><p class="lgnRecuperadosLoteVi text-right mb-0 font-weight-bolder mt-1"></p></td>
                <td><p class="eficiencia text-right mb-0 font-weight-bolder mt-1"></p></td>
                <td><p class="gnsLoteI text-right mb-0 font-weight-bolder mt-1"></p></td>
                <td>-</td>
                <td><input type="text" class="form-control form-report only-number text-right" id="EnergiaMmbtuLoteVi"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td><input type="text" class="form-control form-report only-number text-right" id="ValorLiquidosLoteVi"></td>
                <td><input type="text" class="form-control form-report only-number text-right costoUnitMaquilaUsMmbtu" disabled></td>
                <td><input type="text" class="form-control form-report only-number text-right" id="CostoMaquillaLoteVi"></td>
            </tr>
        </tfoot>
    </table>
</div>




<div class="row">
    <div class="col-md-12 mt-3">
        <div class="card border-thick">
            <div class="card-body row">
                <div class="col-md-6">
                    <div>
                        <label class="font-weight-bold"><b>Nota:</b></label>
                    </div>
                    <div>
                        <p class="font-weight-bold mb-0">GNA: Gas Natural Asociado, GNS: Gas Natural Seco.</p>
                        <p class="font-weight-bold mb-0">GLP: Gas Licuado de Petróleo, CGN: Condensado de Gas Natural.</p>
                    </div>
                    <div class="row mb-2 data-row">
                        <div class="col-md-6">
                            <label class="font-weight-bold">Densidad de GLP promedio mes anterior, reportado a la DGH (Kg/L) :</label>
                        </div>
                        <div class="col-md-4">
                            <b><input type="text" class="form-control form-report only-number text-right densidadGlp" disabled></b>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="card border-thick">
            <div class="card-body row">
                <div class="col-md-6">
                    <div class="row mb-2 data-row">
                        <div class="col-6 col-md-4">
                            <label class="font-weight-bold"></label>
                        </div>
                        <div class="col-3 col-md-4 text-right">
                            <label class="font-weight-bold"><b>MONTO (US$)</b></label>
                        </div>
                    </div>
                    <div class="row mb-2 data-row">
                        <div class="col-6 col-md-4">
                            <label class="font-weight-bold">A. Monto a facturar por UNNA ENERGIA por concepto de Maquila es, sin IGV</label>
                        </div>
                        <div class="col-3 col-md-4">
                            <b> <input type="text" class="form-control form-report only-number text-right" style="width: 150px;"  id="MontoFacturarLoteVi" value=""> </b>
                        </div>
                    </div>
                    <div class="row mb-2 data-row">
                        <div class="col-6 col-md-4">
                            <label class="font-weight-bold">B. Monto a facturar por PETROPERU por concepto de Valorización de líquidos, sin IGV</label>
                        </div>
                        <div class="col-3 col-md-4">
                            <b> <input type="text" class="form-control form-report only-number text-right" style="width: 150px;" id="ValorLiquidosLoteViFinal" value=""> </b>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 mt-3">
        <div class="border-thick">
            <div class="row p-5">
                <div class="col-md-12">
                    <label class="font-weight-bold"><b>Observaciones</b></label>
                </div>
                <div class="col-md-12">
                    <textarea rows="10" class="form-control" id="ObservacionLoteVi"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>


